<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">About
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li> <%= link_to 'Home' , root_path %>
        </li>
        <li class="active">About</li>
      </ol>
    </div>
  </div>
<!-- /.row -->

<!-- Intro Content -->
<div class="row">
    <div class="col-md-6">
      <img class="img-responsive" src="http://cdn.mallmaverick.com/system/posts/images/000/001/336/original/dev_rails_inside-750x450.jpg?1447377631" alt="">
    </div>
    <div class="col-md-6">
      <h2>About RoR Jobs</h2>
      <p>Ruby on Rails is a web application development framework written in the Ruby language. It is designed to make developing web applications easier by making assumptions about what every mobile developer needs to get started. It allows mobile developers to write less code while accomplishing more than many other languages and frameworks</p>
      <p>RoR Jobs is an online employment solution for people seeking jobs in this field. It provides a full array of jobs, news and resources. </p>
      <p>We assist entry level developers and people who want to be in the tech field by provideing resources. For More Information: visit our <%= link_to 'Resource Page',resource_path %> </p>
    </div>
  </div>
<!-- /.row -->
