<h2> Resources </h2>
<hr>
<h3> Ruby On Rails Resources </h3>
<ul>
  <div>
    <p>
    <li>
      <a href="https://www.davinciinstitute.com/" target="_blank"> <b>Davinci Institute</b></a>
    </li>

    <li>
      <a href="https://www.railstutorial.org/book" target="_blank"> <b>Learn Web Development with Rails </b></a>
    </li>

    <li>
      <a href="https://www.ruby-toolbox.com/" target="_blank"> <b>The Ruby Tool Box </b></a>
    </li>

    <li>
      <a href="http://www.galvanize.com/" target="_blank"> <b> Galvanize </b></a>
    </li>

    <li>
      <a href="https://www.switchup.org/" target="_blank"> <b> Switch Up </b></a>
    </li>

    <li>
      <a href="https://hired.com/" target="_blank"> <b> Hired </b></a>
    </li>

    <li>
      <a href="http://guides.rubyonrails.org/index.html" target="_blank"> <b> Ruby on Rails Guides </b></a>
    </li>

    <li>
      <a href="https://rubygems.org/" target="_blank"> <b> Ruby Gems </b></a>
    </li>
  </div>
  </li>
</ul>

<hr>
<h3> Career Resources </h3>
<ul>
  <div>
    <p>
    <li>
      <a href="https://www.topresume.com/resume-writing/?pt=eTBKg0FP8WHu&por=monster&ss=1&utm_medium=Navigation-additional+resources&utm_source=Monster+CareerPerfect&utm_campaign=monsterres/" target="_blank"> <b>Resume Writing Services</b></a>
    </li>

    <li>
      <a href="http://www.monster.com/career-advice/cover-letter-resume" target="_blank"> <b>Resume Advice </b></a>
    </li>

    <li>
      <a href="http://www.monster.com/career-advice/job-interview" target="_blank"> <b>Interview Tips </b></a>
    </li>

    <li>
      <a href="http://www.monster.com/career-advice/" target="_blank"> <b> Career Advice</b></a>
    </li>
  </div>
  </li>
</ul>
