<div class='jumbotron'>
  <div class='row'>
    <%= render 'users/form' %>
    <hr>
    <h3><i><center> or</center></i></h3>

       
    <% unless @user.omniauth? %>
           
      <div class='col-xs-6 center-block' style="text-align: center" >
        <%= link_to button_tag('Sign up via Github', class: 'btn btn-success btn-primary'), '/auth/github' %>
        <%= link_to button_tag('Sign up via twitter', class: 'btn btn-success btn-primary'), '/auth/twitter' %>
        <%= link_to button_tag('Sign up via Google', class: 'btn btn-success btn-primary'), '/auth/google_oauth2' %>
         
      </div>
         
    <% else %>
           
      <div class='col-sx-10 col-xs-offset-2 center-block'>
               <h1>Verify Details</h1>     
      </div>
       
    <% end %>

  </div>
</div>
