<h1> Latest News </h1>
<% bing_client = Bing.new('jmKxP+B6VBhVca/1t+dRz8qv6ySvNSrykDmRYE/2qN4',20,'News') %>
<% bing_results = bing_client.search("ruby",10)  %>
<%= puts bing_results[0][:Image][0][:MediaUrl] %>
