<h2> Latest News </h2>
<ul>
  <% @news_results[0][:News].each do |news_result| %>
    <li>
      <div>
        <p><b> <%= link_to news_result[:Title], news_result[:Url], target: "_blank" %></b></p>
        <p><%= news_result[:Source] %> </p>
        <p><%= news_result[:Description] %> </p>
        <p><%= news_result[:Date] %> </p>
      </div>
    </li>

    <hr>
  <% end %>
</ul>



